<div class="container">
    <div>
        <h1><%= image_tag "logo.png", width: 240, alt: "Fuzzy Trader" %></h1>

        <p>Welcome to the best tool for new investors in cryptocurrencies.</p>

        <a href="<%= new_transaction_url %>" class="button">Add new transaction</a>
        <a href="<%= show_wallet_url %>" class="button">Show my wallet</a>
    </div>
</div>