<div class="container">
    <h1><%= image_tag "logo.png", width: 240, alt: "Fuzzy Trader" %></h1>

    <p>Welcome to the main tool for new investors in the cryptocurrencies world.</p>

    <a href="#">Add new transaction</a>
    <a href="#">See my wallet</a>
</div>