.button {
    padding: 20px;
    margin: 10px 0px;
    width: 100%;
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 6px;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.25s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    background: transparent;
    cursor: pointer;
}

.button--flat {
    border: none;
    box-shadow: none;
}

.button:hover {
    background: #FFF;
    color: #152349;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
    .button {
        width: auto;
        margin: 10px;
    }
}