.crypto {
    display: block;
    margin: 10px 0px;
}

.crypto em {
    display: block;
    font-size: 12px;
    font-weight: 300;
    font-family: 'DM Mono', monospace;
}

.crypto strong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'DM Mono', monospace;
}

.crypto strong img {
    margin-right: 10px;
}