<div class="container">
    <h1>Add new transaction</h1>
    <div class="question">
        <p>I want to invest</p>
        <input type="text" />
        <select>
            <option value="BRL">BRL</option>
        </select>
        <p>in...</p>
    </div>
    <a href="#" class="button">Add transaction</a>
    <a href="<%= url_for root_path %>" class="button button--flat">Back</a>
</div>